%h2 Привет!
%p Новый пользователь зарегистрировался. Нужно зааппрувить его или отказать ему.
%p="#{@request.first_name} #{@request.last_name}"
%p="Эл. почта: #{@request.email}"
%p="Телефон: #{@request.phone}"
%p="Компания: #{@request.company}"
%p="Должность: #{@request.position}"
%p="Facebook: #{@request.facebook}"